.login {
  margin: 40px 0;
}
/* .login img {
  width: 100%;
} */

.login form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  margin: auto;
}

.login form * {
  width: 70%;
}

.login form .title {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  color: gray;
  padding: 40px 0;
}

.login form input {
  height: 60px;
  border: 1px solid gray;
  border-bottom: 0;
  padding-left: 20px;
}

.login form input:focus {
  outline: none;
}

.login form input:nth-child(3) {
  margin-bottom: 20px;
  border: 1px solid gray;
}

.login form button {
  height: 60px;
  color: white;
  background-color: gray;
  border: 0;
}

.login form p {
  font-style: italic;
  color: gray;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

.login form p a {
  font-style: italic;
  text-decoration: none;
}

.error {
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.error li {
  color: red;
  width: 100%;
}
